In [1]:
print("Hello World")

Hello World

In [2]:
print('heello',1,4.5,True)

heello 1 4.5 True

In [3]:
print('heello',1,4.5,True,sep='\n')

heello
1
4.5
True

In [4]:
print('heello',1,4.5,True,sep='-/')

heello-/1-/4.5-/True

In [5]:
print('Hello')
print('World')

Hello
World

In [6]:
print('Hello',end='-')
# by default end = '\n'
print('World')

Hello-World

### Data Types

1) Integer
2) Float
3) Bool
4) String
    -->>no char
5) complex
    --> (a + b j)
6) List
    -->like C array
        a = [1,2,3,4,5]
7) Tupple
    --> b = (1,2,3,4,5)
8) Set
    c = {1,2,3,4,5}
9) dictonary
    d = {'a_key':"a_value",'b_key':"b_value}

In [8]:
a,b,c,d = 1,2,3,4,

In [9]:
print(a,b,c,d,sep='\n')

1
2
3
4

In [10]:
a=b=c=5
print(a,b,c)

5 5 5

In [16]:
# There  are 32 kewword in python

####  User Input

In [3]:
input('Enter something')

'123'

In [4]:
fnum = input("Enter first number") #99.99
snum = input("Enter second number") #98.98
# when mwe enter any prompt in input() function by default it is string so in order to get proper format we need to use type explict
# which is used in down block of code
result = fnum + snum
print(result)

99.9998.98

In [9]:
# Expict type conversion by programmer
# Implict by compiler or interpreter
fnum = float(input("Enter first number")) #99.99
snum = float(input("Enter second number")) #98.98
result = fnum + snum
print(result)

198.97

In [10]:
# Any data can be converted in string but reverse is not possible
# sting is universal format, i.e int,float,complex can be stored as string but a actual string/alpha  character can not be stoered as  int ,float...

In [11]:
a = None
type(a)

NoneType

In [12]:
c = float(input("Enter temperature in celsius"))
f = (((c - 0)/100)*180) + 32
print(f"{c} degree celsius = {f} Fahrenheit.")

0.0 degree celsius = 32.0 Fahrenheit.